*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
.cloud
.storage
.uuid
.config_entries.json
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlitelib
deps
__pycache__
tts
secrets.yaml
secrets
known_devices.yaml
entity_registry.yaml
emulated_hue_ids.json
phue.conf
hue.conf
pyozw.sqlite
nest.conf
zwscene.xml
zwcfg_0x0184c588.xml

